#nave{
    width: 300px;
    position: absolute;
    top: -125px;
    left: -125px;
    transform: scale(1);
    animation: voo 5s cubic-bezier(0.07, 0.54, 0.32, 1.03)

}
#nave img{
    width: 100%;
}
#box{
    position: relative;
    display: flex;
    justify-content: center;
}
.boxBG {
    width: 0%;
    animation: boxOpen 1s cubic-bezier(0.34, -1.25, 0.65, 2.42) forwards;
    animation-delay: 1s;
}
#box .boxBG img{
    width: 100%;
}
@keyframes voo {
    to {
        top: 150vh;
        left: 150vw;
        transform: scale(3);
    }
}
@keyframes boxOpen {
    to {
        width: 100%;
    }
}

.boxHeader {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 190px;
    width: 416px;
    animation: text 1s linear forwards;
    animation-delay: 2s;

}
.warpTitles {
    display: flex;
    position: relative;
    justify-content: space-between;
}
.boxTitle {
    width: 330px;
}

@keyframes text {
    to {
        opacity: 1;
    }
}
div#warpHome {
    width: 40%;
}
#warpLogo{
    margin-top: 0;
    display: flex;
    justify-content: center;
}
#infoBox {
    width: 100%;
    height: 0px;
    opacity: 0;
    border: 1px solid #ffc500;
    animation: infoBox 1s linear forwards;
    animation-delay: 4s;
}
.infoContent{
    opacity: 0;
    animation: opacity 1s linear forwards;
    animation-delay: 5s;
    padding: 5px 20px;
}
#logo{
    width: 370px;

}
.st{
    fill: transparent;
    stroke: #ffc500;
    stroke-width: 2;
    stroke-dasharray: 710;
    stroke-dashoffset: 710;
    animation: line 1s linear forwards;
}
.ar{
    stroke: #ffc500;
    fill: transparent;
    stroke-width: 2;
    stroke-dasharray: 826;
    stroke-dashoffset: 826;
    animation: line 1s linear forwards;
    animation-delay: 1s;
}
.w{
    stroke: #ffc500;
    fill: transparent;
    stroke-width: 2;
    stroke-dasharray: 555;
    stroke-dashoffset: 555;
    animation: line 1s linear forwards;
    animation-delay: 2s;

}
.ars{
    stroke: #ffc500;
    fill: transparent;
    stroke-width: 2;
    stroke-dasharray: 1094;
    stroke-dashoffset: 1094;
    animation: line 1s linear forwards;
    animation-delay: 3s;

}
.ml20{
    margin-left: 30%!important;
    margin-bottom: 20px!important;
}
.infoContent p {
    color: white;
}
.warpBtn {
    display: flex;
    justify-content: flex-end;
}
@keyframes line {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes position {
    to {
        margin-top: -300px;
    }
}
@keyframes infoBox {
    to {
        margin-top: -300px;
    }
}
@keyframes opacity {
    to {
        opacity: 1;
    }
}

@keyframes infoBox {
    20% {
        opacity: 1;
        height: 0px;
    }
    100%{
        opacity: 1;
        height: 350px;
    }
}