@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.button svg {
  height: 55px;
  width: 150px;
  fill: none;
  stroke-width: 5;
}
.button svg .o1 {
    stroke: rgb(255, 197, 0);
    fill: transparent;
    transition: all 1s ease-in-out;
}
.button svg .o2 {
  stroke: white;
  stroke-dasharray: 20 420;
  stroke-dashoffset: 20;
  transition: all 1s ease-in-out;
}
.button span {
    position: absolute;
    margin: auto 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    z-index: 9999;
    color: #ffc500;
}
.button:hover .o1 {
  fill: rgba(204, 129, 16, 0.3);
}
.button:hover .o2 {
  stroke-dashoffset: -420;
}
